@tailwind base;
@tailwind components;
@tailwind utilities;


div.chat-wrapper {
    width: 100%;
    position: relative;
  }

  div.chat-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 15px;
    height: 120px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(15 23 42 / 1) 10%, rgba(255, 255, 255, 0));
  }

  div.chat {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 500px;
  }

  .container p {
    margin: 0;
    padding: 0;
  }

  .chat__content {
    flex: 0 1 auto;
    padding: 1rem;
    margin: 0 0.5rem;
    background: var(--bgcolor);
    border-radius: var(--radius);
  }

  .chat__message {
    width: 45%;
    display: flex;
    align-items: flex-end;
    transform-origin: 0 100%;
    padding-top: 0;
    transform: scale(0);
    max-height: 0;
    overflow: hidden;
    animation: message 0.15s ease-out 0s forwards;
    animation-delay: var(--delay);
    --bgcolor: #d8d8d8;
    --radius: 8px 8px 8px 0;
  }

  .chat__message_B {
    flex-direction: row-reverse;
    text-align: left;
    align-self: flex-end;
    transform-origin: 100% 100%;
    color: rgb(231, 231, 231);

    --bgcolor: #b458bd;
    --radius: 8px 8px 0 8px;
  }

  .chat__message::before {
    content: "";
    flex: 0 0 40px;
    aspect-ratio: 1/1;
    background: var(--bgcolor);
    border-radius: 50%;
  }

  @keyframes message {
    0% {
      max-height: 100vmax;
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      max-height: 100vmax;
      overflow: visible;
      padding-top: 1rem;
    }
  }

/* .chat {
    width: 400px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    animation: expand-bounce;
    animation-duration: 0.25;
}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #E8E8E8;
    position: relative;
}

.yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    @apply dark:bg-[#E8E8E8];
    @apply bg-[#E8E8E8];
    border-bottom-right-radius: 15px;
}

.yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    @apply dark:bg-slate-900;
    @apply bg-white;
    border-bottom-right-radius: 10px;
    }

.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    margin-left: 25%;
    @apply bg-gradient-to-b from-[#c6cbcc] to-[#db2777];
    background-attachment: fixed;
    position: relative;
}

.mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    @apply bg-gradient-to-b from-[#c6cbcc] to-[#db2777];
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
}

.mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    @apply dark:bg-slate-900;
    @apply bg-white;
    border-bottom-left-radius: 10px;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.inputSms::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.inputSms {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.songs::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.textarea-sms {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}


@keyframes expand-bounce {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }

